{% extends 'base.html' %}

{% block title %}Pedidos Coletados{% endblock %}

{% block content %}
<h2>✅ Pedidos Coletados</h2>

<table class="tabela-excel">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cliente</th>
            <th>Qtd Total</th>
            <th>Já Coletado</th>
            <th>Valor Total</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido, qtd_total, qtd_coletada, total_venda in pedidos %}
        <tr>
            <td>#{{ pedido.id }}</td>
            <td>{{ pedido.cliente.nome }}</td>
            <td>{{ qtd_total }}</td>
            <td>{{ qtd_coletada }}</td>
            <td class="currency-value" data-value="{{ total_venda }}">{{ total_venda | currency_brl }}</td>
            <td>
                <a href="{{ url_for('logistica.historico_coletas', id_pedido=pedido.id) }}" class="botao" style="background:#aaa">
                    🕓 Ver Histórico
                </a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">Nenhum pedido coletado até o momento.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<a href="{{ url_for('main.painel') }}" class="botao">⬅ Voltar ao Painel</a>
{% endblock %}
