[flake8]
max-line-length = 100
extend-ignore = E203, W503
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    instance,
    **/migrations/**
per-file-ignores =
    # Allow long lines in migrations or scripts if needed
    */migrations/*: E501

