{% extends "base.html" %}

{% block title %}Módulo em Construção{% endblock %}

{% block page_title %}🚧 Módulo em Construção{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body text-center">
                    <h1 class="display-4">🚧</h1>
                    <h2>Este módulo está em construção.</h2>
                    <p class="lead">Estamos trabalhando para trazer novas funcionalidades para você. Volte em breve!</p>
                    <a href="{{ url_for('main.painel') }}" class="btn btn-primary">Voltar ao Painel</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
